

  @keyframes track-right-in {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .track-right-in {
    animation: track-right-in 1s ease-out forwards;
  }
  

  .scale-0 {
    transform: scale(0);
  }
  
  .scale-100 {
    transform: scale(1);
  }


  /* box border animations  */

  @keyframes borderAnimation {
    0% {
      border-color: rgba(255, 0, 0, 0.467);
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.467);
    }
    25% {
      border-color: rgba(0, 0, 255, 0.467);
      box-shadow: 0 0 10px rgba(0, 0, 255, 0.467);
    }
    50% {
      border-color: rgba(0, 128, 0, 0.467);
      box-shadow: 0 0 10px rgba(0, 128, 0, 0.467);
    }
    75% {
      border-color: rgba(255, 255, 0, 0.467);
      box-shadow: 0 0 10px rgba(255, 255, 0, 0.467);
    }
    100% {
      border-color: rgba(255, 0, 0, 0.467);
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.467);
    }
  }