

  @keyframes track-right-in {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .track-right-in {
    animation: track-right-in 1s ease-out forwards;
  }
  

  .scale-0 {
    transform: scale(0);
  }
  
  .scale-100 {
    transform: scale(1);
  }


  /* box border animations  */

  @keyframes borderAnimation {
    0% {
      border-color: red;
      box-shadow: 0 0 10px red;
    }
    25% {
      border-color: blue;
      box-shadow: 0 0 10px blue;
    }
    50% {
      border-color: green;
      box-shadow: 0 0 10px green;
    }
    75% {
      border-color: yellow;
      box-shadow: 0 0 10px yellow;
    }
    100% {
      border-color: red;
      box-shadow: 0 0 10px red;
    }
  }