

  @keyframes track-right-in {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .track-right-in {
    animation: track-right-in 1s ease-out forwards;
  }
  

  .scale-0 {
    transform: scale(0);
  }
  
  .scale-100 {
    transform: scale(1);
  }


  /* box border animations  */
  .feature-glass {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: all 500ms ease-in-out;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  }
  .feature-glass:hover {
    box-shadow: 0 2px 12px 0 rgba(129, 131, 152, 0.37);
    scale: 1.04;
  }